.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 46px auto 0 28px;
}

.u-section-1 .u-image-1 {
  width: 146px;
  height: 148px;
  margin: 28px auto 0 28px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -148px 147px 0 256px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  width: 146px;
  margin: 80px auto 60px 28px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 605px;
    margin-top: 20px;
    margin-left: 156px;
    margin-right: 47px;
  }

  .u-section-1 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}