.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 477px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 738px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 300px;
  margin: 39px auto 0 16px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: -294px 39px 253px 521px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 215px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -209px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 555px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 279px;
  grid-auto-columns: calc(25% - 12px);
  --gap: 16px;
}

.u-section-3 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/photo-1614291245877-9875528c7c3a.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-text-1 {
  margin: auto 0 0;
}

.u-section-3 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://cdn.corporatefinanceinstitute.com/assets/stop-loss.jpeg');
  --radius: 15px;
  background-position: 50% 50%, 18.75% 50%;
  background-size: cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-text-2 {
  margin: auto 0 0;
}

.u-section-3 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/photo-1631286434951-caa3dcab4d1b.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-text-3 {
  margin: auto 0 0;
}

.u-section-3 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/cafe9b0d3600bab23f8bea5b2845e1821b7a3d1ee07d7a9c0c09a863ae35424313269bd02c55cc756d4ee0f218ac22e94589ec3906533fd68f51d5_1280.jpg');
  background-position: 50% 50%;
  --radius: 15px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-text-4 {
  margin: auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 24px 0 0 895px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: -89px 881px 0 14px;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: -112px 289px 0 606px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: -67px 578px 60px 317px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 230px;
    grid-gap: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 695px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 695px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 189px;
    margin-left: 506px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 478px;
    margin-left: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 1087px;
    grid-auto-columns: calc(50% - 8px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 475px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 475px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 79px;
    margin-left: 396px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 368px;
    margin-left: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 295px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 295px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 278px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 165px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 165px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 165px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 165px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 95px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 95px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 95px;
    margin-left: 0;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 728px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px auto 0 30px;
}

.u-section-4 .u-image-1 {
  width: 145px;
  height: 145px;
  margin: 37px auto 0 61px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -145px auto 0 243px;
}

.u-section-4 .u-text-3 {
  margin: 37px 510px 0 243px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 80px 723px 0 30px;
}

.u-section-4 .u-image-2 {
  width: 81px;
  height: 76px;
  margin: 44px auto 0 37px;
}

.u-section-4 .u-image-3 {
  width: 85px;
  height: 80px;
  margin: -80px auto 0 173px;
}

.u-section-4 .u-text-5 {
  margin: 30px 1020px 0 32px;
}

.u-section-4 .u-text-6 {
  margin: -29px auto 0 179px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 32px auto 0 30px;
}

.u-section-4 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 30px auto 60px 30px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    margin-right: 310px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 553px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 852px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 186px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 147px;
    margin-left: 186px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 333px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 140px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
    margin-left: 140px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.3333333333333333rem;
    margin-right: 153px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 452px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 88px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 252px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 113px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}