 .u-section-1 {
  background-position: 50% 80.92%;
}

.u-section-1 .u-sheet-1 {
  min-height: 887px;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  margin: -405px 119px 0 28px;
}

.u-section-1 .u-text-2 {
  margin: 416px 599px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 669px;
  margin: -60px auto 60px 141px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 429px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 4px;
}

.u-section-1 .u-group-1 {
  min-height: 178px;
  width: 317px;
  height: auto;
  margin: 3px -3px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 145px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  line-height: 3;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 4px;
}

.u-section-1 .u-group-2 {
  min-height: 178px;
  width: 317px;
  height: auto;
  margin: 3px -1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 145px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  line-height: 3;
  font-size: 0.875rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 399px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 42px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}