.u-section-1 .u-sheet-1 {
  min-height: 589px;
}

.u-section-1 .u-image-1 {
  width: 475px;
  height: 300px;
  margin: 55px auto 0 23px;
}

.u-section-1 .u-text-1 {
  margin: -280px 14px 0 521px;
}

.u-section-1 .u-social-icons-1 {
  height: 57px;
  width: 140px;
  margin: 43px 476px 60px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 215px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -195px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 200px;
  }
}